h1{
    font-family: "Calibri";
    font-size: 30pt;
    font-style: normal;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    text-decoration: underline;
}

h2{
    font-family: "Calibri Light";
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    text-decoration: underline;
}
a {
    display: inline-block;
    background: aliceblue;
    color: limegreen;
    width: 100%;
    height: 100%;
}
body {
    background: aquamarine;
}
div {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: aliceblue;
    color: limegreen;
    width: 100%;
}
