body {
    background: aquamarine;
}
h1 {
    font-family: Calibri;
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    text-decoration: underline;
}
code {
    border: blue solid 2px;
    background-color: #ff0;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    background-color: darkgreen;
}
li a:hover {
    background-color: #111;
}